*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* header section */
#home{
    width: 100vw;
    height: 100vh;
    background: url("First Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home ul{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    list-style: none;
    padding: 20px 0;
}
#home ul li{
    transition: 1s;
}
#home ul li:hover{
    transform: scale3d(1.5,1.5,1);
}
#home ul li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
#home ul li a:hover{
    color: yellow;
}
header .head{
    height: 70vh;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .head h2{
    transition: 2s;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
header .head h2:hover{
    transform: scale3d(1.5,1.5,1);
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

/*biography section*/
#bio{
    width: 100%;
    height: 100%;
    background: url("Sec background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
#bio h1{
    font-size: 50px;
    padding: 20px 0;
}
#bio p{
    font-size: 21px;
    padding: 20px 0;
}

/*achevements section*/
#achevement{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to top right,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8),rgba(0,0,0,0.7));
}
#achevement div{
    width: 50%;
    color: white;
}
#achevement div h1{
    font-size: 50px;
}
#achevement div ul li{
    padding: 20px;
}
#achevement div ul li p{
    font-size: 21px;
}
#achevement img{
    width: 40%;
}